.inputWrapper {
  border-radius: 4px;
  background-color: var(--Media-Hub-colour-Background-background-300, #605468);
  display: flex;
  width: 628px;
  max-width: 100%;
  gap: 12px;
  font-size: 16px;
  color: var(--Media-Hub-colour-Background-background-200, #928a98);
  font-weight: 400;
  white-space: nowrap;
  line-height: 150%;
  padding: 16px 20px;
  margin-top: 28px;
}

.inputField {
  flex: 1;
  border: none;
  background: none;
  padding: 6px 0;
  font-family: Inter, sans-serif;
  color: inherit;
}

.inputIcon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}