.mainContainer {
  margin: 0 auto;
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  width: 32px;
}

.logoText {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  margin-top: 5px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.navLink {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
}

.active {
  color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

.userControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(65, 51, 75, 1);
  border-radius: 50%;
  padding: 10px;
}

.profileIcon {
  width: 100%;
  aspect-ratio: 1;
}

.settingsIcon {
  width: 50px;
  aspect-ratio: 1;
}

/*=============================================== TOGGLE COMPONENT ============================================*/

.contentSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41334b;
  width: 100%;
  margin-top: 21px;
  font-size: 12px;
  color: var(--Grey-neutral, #f9f9f9);
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  padding: 8px 60px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: #11001e;
  border: 1px solid rgba(96, 84, 104, 1);
  border-radius: 4px;
}

.navItem,
.activeNavItem {
  font-family: Garute, sans-serif;
  margin: auto 0;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
}

.activeNavItem {
  background: linear-gradient(270deg, #e14eff 4.37%, #a85aff 100%);
  border-radius: 4px;
}

.toggleContainer {
  text-decoration: none;
}

/* ========================================Empty modal ======================================= */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 737px;
  padding: 80px;
  border: 1px solid rgba(65, 51, 75, 1);
  border-radius: 10px;
  box-shadow: 3px 8px 16px rgba(176, 88, 255, 0.05);
  background-color: var(--Media-Hub-colour-Background-background-500, #11001e);
  margin: 48px auto;
}

.image {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
  margin-top: 42px;
}

.heading {
  margin-top: 48px;
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  font: 700 36px/1.22 Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.description {
  margin-top: 16px;
  text-align: center;
  color: var(--Media-Hub-colour-Background-background-300, #605468);
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 28px;
}

.button {
  margin-top: 40px;
  padding: 16px 32px;
  border: 1px solid rgba(96, 84, 104, 1);
  border-radius: 4px;
  color: var(--Media-Hub-colour-Background-background-50, #e7e6e9);
  background: linear-gradient(270deg, #e14eff 4.37%, #a85aff 100%);
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.33;
}

/* ===========================Search result =========================================================== */
.musicList {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 19px;
  margin-top: 48px;
  max-width: 1200px;
  flex-wrap: wrap;
  position: absolute;
}

.musicList2 {
  display: flex;
  width: 87.2%;
  margin: 0 auto;
  padding: 24px;
  gap: 19px;
  margin-top: 48px;
  margin-left: -24px;
  max-width: 1200px;
  overflow-x: scroll;
  position: absolute;
  border: 1px solid grey;
  
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 200px; /* Adjust width as needed */
  position: relative;
  border: 1px solid white;
  border-radius: 9px;
}

.albumImage {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  z-index: -1;
}

.albumName,
.albumArtist {
  color: white; /* Text color */
  text-align: center; /* Center align text */
  overflow-wrap: break-word; /* Word wrapping */
}

.albumName {
  font-size: 18px;
  margin-bottom: 5px;
}

.albumArtist {
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;
}

/* =====================================Notification Message ================================= */
.messageContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.message {
  margin: 0;
  font-weight: bold;
}

/* ======================================= Plus Button =================================================== */
.plusButton {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: linear-gradient(270deg, #e14eff 4.37%, #a85aff 100%);
  color: white; /* White text */
  font-size: 20px; /* Larger font size */
  text-align: center; /* Center the text */
  border-radius: 50%; /* Circular shape */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  padding-top: -5px;

  position: absolute;
  top: 8px;
  right: 8px;
}

.plusButton:hover {
  background: linear-gradient(270deg, #ba37d4 4.37%, #a85aff 100%);
}

.plusButton:active {
  background: linear-gradient(270deg, #ba37d4 4.37%, #a85aff 100%);
}

.artistButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 12px;
}

.imageTitleContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* ================================ Input ================================================== */

.input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #605468;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
  color: white;
}

.input::placeholder {
  color: #aaa;
}

.spotifyLogo {
  width: 48px;
}

.spotifyTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

/* ==================================== PLAYLIST ================================================ */
.playlistHeader {
  color: white;
  text-align: center;
}

/* ==================================Search result modal ============================================================ */

.mainContainer {
  position: relative;
  margin: 0 auto;
}

.contentContainer {
  position: relative;
  padding: 20px;
}

.searchResultsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Adjust as needed */
  background-color: white; /* Optional: to ensure visibility */
}

.favouriteArtistsContainer {
  margin-top: 20px;
}

.trackCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.trackImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotifyLogo {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.messageContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.message {
  margin: 0;
}


.playlistMainContainer{
  color: white;
  border: 1px solid grey;
  width: 90%;
  margin: 48px auto;
  padding: 24px;
}

.artistSeeAllContainer{
  display: flex;
  justify-content: space-between;
}

.seeAllLink{
  color: #FF604B;
  text-decoration: none;
}

.artists{
  margin-left: 10px;
}