

.app-container {
  display: inline-block;
}

.verify-email-form {
  background-color: var(--Media-Hub-colour-Background-background-500, #11001e);
  z-index: 10;
  display: flex;
  width: 671px;
  max-width: 100%;
  flex-direction: column;
  padding: 45px 45px;
}


.form-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.verification-icon {
  aspect-ratio: 1;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  width: 100px;
}

.form-title {
  color: #fff;
  font: 700 28px/129% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 24px;
}

.form-description {
  align-self: stretch;
  color: var(--Media-Hub-colour-Text-text--700, #b5aeb5);
  font: 500 18px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 32px;
}

@media (max-width: 991px) {
  .form-description {
    max-width: 100%;
  }
}

.form-group {
  margin-top: 32px;
  width: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.verification-code-input {
  background-color: var(--Media-Hub-colour-Background-background-300, #605468);
  border-radius: 4px;
  color: var(--Media-Hub-colour-Background-background-200, #928a98);
  font: 400 16px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 16px 20px;
  width: 629px;
}

.verify-button {
  align-items: center;
  background-color: var(
    --Button-gradient,
    linear-gradient(262deg, #c83cd4 -12.99%, #6736a6 98.21%)
  );
  border-radius: 4px;
  color: var(--Media-Hub-colour-Text-text--500, #fff5ff);
  font: 400 18px/133% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 32px;
  text-align: center;
  width: 100%;
}

@media (max-width: 991px) {
  .verify-button {
    max-width: 100%;
    padding: 0 20px;
  }
}

.resend-email-link {
  align-self: center;
  background-clip: text;
  background-color: var(
    --Button-gradient,
    linear-gradient(262deg, #c83cd4 -12.99%, #6736a6 98.21%)
  );
  border: none;
  color: var(--Media-Hub-colour-Text-text--700, #b5aeb5);
  font: 500 16px/18px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 62px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  .resend-email-link {
    margin-top: 40px;
  }
}

.back-button {
  color: white;
  width: 48px;
  height: 28px;
}

.close-button{
  float: right;
}

.close-button-container {
  width: 100%;
} 
