*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    border-radius: 0px;

    /* Scrollbar width */
::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(262deg, #c83cd4 -12.99%, #6736a6 98.21%);
  /* border-radius: 6px; */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(262deg, #a631b1 -12.99%, #523190 98.21%);
}

/* Optional: Style the corner when both vertical and horizontal scrollbars are present */
::-webkit-scrollbar-corner {
  background: darkgrey;
}
  }
body {
  height: 100%;
  /* background-color: #11001E; */
}